.change-password-header {
    font-size: 40px;
    color: #185adb;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.change-password {
    height: 90vh;
}


