<div *ngIf="loading" class="dashboard">
        <h3>Hello, you haven't entered daily contribution for today</h3>
        <p>Select one of options to enter it</p>
        <div class="three-buttons">
            <button mat-raised-button color="primary" routerLink="/presence/create">Presence</button>
            <button mat-raised-button color="warn" routerLink="/absence/create">Absence</button>
            <button mat-raised-button color="accent" routerLink="/business/trip/create">Business Trip</button>
        </div>

        

</div>

<div *ngIf="data" class="contribution">

    <p class="preference-header">My Daily Contribution for Today</p>


    <mat-card class="preference-card">

        <mat-list class="preference-group">

            <mat-list-item class="preference-list-item">
                <p class="preference-def">Type of contribution: </p>
                <p>{{data.type}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

        </mat-list>

        <mat-list class="preference-group">

            <mat-list-item class="preference-list-item">
                <p class="preference-def">Date: </p>
                <p>{{data.date}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

        </mat-list>

        <mat-list *ngIf="data.remoteOffice" class="preference-group">

            <mat-list-item class="preference-list-item">
                <p class="preference-def">Remote or Office: </p>
                <p>{{data.remoteOffice}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

        </mat-list>

        <mat-list *ngIf="data.workingFrom" class="preference-group">

            <mat-list-item class="preference-list-item">
                <p class="preference-def">Working From: </p>
                <p>{{data.workingFrom}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

        </mat-list>

        <mat-list  *ngIf="data.workingTo" class="preference-group">

            <mat-list-item class="preference-list-item">
                <p class="preference-def">Working To: </p>
                <p>{{data.workingTo}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

        </mat-list>

        <mat-list *ngIf="data.onPauseFrom" class="preference-group">

            <mat-list-item class="preference-list-item">
                <p class="preference-def">On Pause From: </p>
                <p>{{data.onPauseFrom}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

        </mat-list>

        <mat-list *ngIf="data.onPauseTo" class="preference-group">

            <mat-list-item class="preference-list-item">
                <p class="preference-def">On Pause To: </p>
                <p>{{data.onPauseTo}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

        </mat-list>

        <mat-list *ngIf="data.typeOfAbsence" class="preference-group">

            <mat-list-item class="preference-list-item">
                <p class="preference-def">Type of Absence: </p>
                <p>{{data.typeOfAbsence}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

        </mat-list>

        <mat-list *ngIf="data.placeOfBusinessTrip" class="preference-group">

            <mat-list-item class="preference-list-item">
                <p class="preference-def">Place of Business Trip: </p>
                <p>{{data.placeOfBusinessTrip}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

        </mat-list>

        <div class="preference-group mt-10">
            <button [routerLink]="['/absence/update', data._id]" mat-raised-button color="primary" class="full-width">Edit</button>
        </div>
       
        
    </mat-card>

    
</div>




