<div class="login">
    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)" class="login-form">
        <h3 class="login-header">Login</h3>

        <input 
            [ngClass]="{'is-invalid': errors.email}"
            [(ngModel)]="user.email"
            #userEmail="ngModel"
            type="email" 
            class="input-email" 
            name="email" 
            id="email" 
            placeholder="Email"
        >

        <div [hidden]="!errors.email" class="invalid-feedback">{{errors.email}}</div>

        <input 
            [ngClass]="{'is-invalid': errors.password}"
            [(ngModel)]="user.password"
            #userPassword="ngModel"
            type="password" 
            class="input-password" 
            name="password" 
            id="password" 
            placeholder="Password"
        >
        <div [hidden]="!errors.password" class="invalid-feedback">{{errors.password}}</div>

        <input type="submit" value="Submit" class="btn btn-landing btn-register">
    </form>
</div>
