<div class="login">
    <form [formGroup]="loginForm" class="login-form">
        <h3 class="login-header">Login</h3>

        <input 
            [ngClass]="{'is-invalid': errors.email}"
            class="input-email" 
            type="email"  
            placeholder="Email" 
            formControlName="email"
        >

        <div [hidden]="!errors.email" class="invalid-feedback">{{errors.email}}</div>

        <input 
            [ngClass]="{'is-invalid': errors.password}"
            class="input-password" 
            type="password"  
            placeholder="Password" 
            name="password"
            formControlName="password"
        >

        <div [hidden]="!errors.password" class="invalid-feedback">{{errors.password}}</div>

        <button class="btn btn-landing btn-register"
                (click)="loginUser()"
                [hidden]="!loginForm.valid"
        >
                 Login</button>
    </form>
</div>
