<div *ngIf="!loading; else spinner" class="change-password">
    <form [formGroup]="changePassForm" class="change-password-form">
        <h3 class="form-header">Change User Password - {{user.name}}</h3>

        <div class="form-group">
            <mat-form-field class="full-width">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" [type]="hide2 ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" tabindex="-1">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="errors.newPassword">{{errors.newPassword}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="full-width">
                <mat-label>Confirm New Password</mat-label>
                <input matInput formControlName="newPasswordConfirmation" [type]="hide3 ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3" tabindex="-1">
                    <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="errors.newPasswordConfirmation">{{errors.newPasswordConfirmation}}</mat-error>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary"
                class="btn btn-landing btn-register"
                (click)="changePassword()"
                [disabled]="!changePassForm.valid"
        >
                 Submit</button>
    </form>
</div>

<ng-template #spinner>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </ng-template>

