<div class="dashboard-container">
  <div class="buttons-inline">

    <div class="first-row">
      <button class="smaller-button" mat-button>Download all data <mat-icon>get_app</mat-icon></button>
      <button class="smaller-button" mat-button>Download selected <mat-icon>get_app</mat-icon></button>
      <button class="smaller-button" mat-button routerLink="/user/action/register">Create User</button>
    </div>

    <div class="second-row">
          <p>Search:</p>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput (keyup)="filterByName($event)" #input>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input [value]="today" matInput [matDatepicker]="picker"  (dateChange)="date($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select [(value)]="selected" (selectionChange)="onTypeChange($event)">
            <mat-option value="all">
              All
            </mat-option>
            <mat-option value="presence">
              Presence
            </mat-option>
            <mat-option value="absence">
              Absence
            </mat-option>
            <mat-option value="business trip">
              Business trip
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    
   
  </div>
  
  <table mat-table [dataSource]="dataSource" matSort matSortActive="carbs" matSortDirection="asc" matSortDisableClear class="mat-elevation-z8">
      
      <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" class="example-margin"></mat-checkbox></td>
        </ng-container>
  
        <ng-container matColumnDef="status2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon *ngIf="element.statusForTable.type === 'Presence'" class="status-icon">check_circle</mat-icon>
            <mat-icon *ngIf="element.statusForTable.type === 'Absence'" class="status-icon-2">cancel</mat-icon>
            <mat-icon *ngIf="element.statusForTable.type === 'Business Trip'" class="status-icon-3">directions_car</mat-icon>
            <p *ngIf="element.statusForTable.type === 'None'"> - </p>
           </td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- start -->
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
          <td mat-cell *matCellDef="let element"> {{element.statusForTable.type === 'Presence' ? (element.statusForTable.workingFrom) : '-'}} </td>
        </ng-container>

        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
          <td mat-cell *matCellDef="let element"> {{element.statusForTable.type === 'Presence' ? (element.statusForTable.workingTo) : '-'}} </td>
        </ng-container>

        <ng-container matColumnDef="break">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Break</th>
          <td mat-cell *matCellDef="let element"> {{element.statusForTable.type === 'Presence' ? (element.statusForTable.onPauseFrom + '-' + element.statusForTable.onPauseTo) : '-'}} </td>
        </ng-container>
        <!-- end -->

        <ng-container matColumnDef="officeremote" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Office/Remote</th>
          <td mat-cell *matCellDef="let element"> {{element.statusForTable.type === 'Presence' ? (element.statusForTable.remoteOffice) : '-'}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions" sticky>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> 
              <button *ngIf="(element.type !== 'globalAdmin' && element.type !== 'admin') || userType === 'globalAdmin' || element._id === userID" mat-button title="Profile" [routerLink]="['/user/profile', element._id]"><mat-icon color="primary">description</mat-icon></button> 
              <button *ngIf="(element.type !== 'globalAdmin' && element.type !== 'admin') || userType === 'globalAdmin' || element._id === userID" mat-button title="Edit User" [routerLink]="['/user/action', element._id]"><mat-icon class="action-edit-icon">edit</mat-icon></button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
  
  </table>


  <div class="spinner-container">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  
</div>

