.navbar {
    background-color: #333;
    width: 100%;
    margin: auto;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    text-align: center;
    align-items: center;
}

.navbar-link {
    margin-right: 20px;
}

.navbar-logo-home a, .navbar-link {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: font-size 0.5s ease;
}

.navbar-logo-home a:hover, .navbar-link:hover {
    color: #185adb;
    border-bottom: #185adb 2px solid;
    font-size: 18px;
}

.navbar-brand {
    color: #185adb;
    font-size: 20px;
    margin-left: 20px;
}

