* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    color: #333;
    line-height: 1.5;
    width: 80%;
    height: 100%;
    margin: auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

a {
    text-decoration: none;
    color: #444;
}

li {
    list-style-type: none;
    color: #444;
}

.btn {
    text-decoration: none;
    background-color: #185adb;
    color: #fff;
    padding: 0.6rem;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}

input {
    margin: 1rem 0;
    font-size: 26px;
    padding: 0.6rem;
    width: 100%;
    background: transparent;
    color: var(#888);
    border: #333 2px solid;
    border-radius: 15px;
}



