<div class="preference-create">
    <form [formGroup]="myForm2" class="preference-form">

        <h3 class="form-header">Edit My Daily Contribution</h3>

        <mat-form-field class="full-width">
            <mat-label>Type</mat-label>
                <mat-select matInput formControlName="type" (selectionChange)="onChange($event)" required>
                    <mat-option value="Presence">Presence</mat-option>
                    <mat-option value="Absence">Absence</mat-option>
                    <mat-option value="Business Trip">Business Trip</mat-option>
                </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="typeOfForm === 'Presence'" class="full-width">
            <mat-label>Remote or Office</mat-label>
                <mat-select matInput formControlName="remoteOrOffice" required>
                    <mat-option value="remote">Remote</mat-option>
                    <mat-option value="office">Office</mat-option>
                </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label [ngStyle]="{'color': errors.date ? '#f44336' : null }">Date</mat-label>
            <input matInput [value]="dateInput" [matDatepicker]="picker" formControlname="date" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint [ngStyle]="{color: '#f44336'}" *ngIf="errors.date">{{errors.date}}</mat-hint>
        </mat-form-field>

        <div class="form-group">
            <mat-form-field *ngIf="typeOfForm === 'Presence'" class="full-width">
                <input matInput formControlName="workingFrom" placeholder="Working From (HH:MM)" [ngxTimepicker]="workingFrom" [format]="24" required>
                <ngx-material-timepicker #workingFrom></ngx-material-timepicker>
                <mat-error *ngIf="errors.workingFrom">{{errors.workingFrom}}</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="typeOfForm === 'Presence'" class="full-width"> 
                <input matInput formControlName="workingTo" placeholder="Working To (HH:MM)" [ngxTimepicker]="workingTo" [format]="24" required>
                <ngx-material-timepicker #workingTo></ngx-material-timepicker>
                <mat-error *ngIf="errors.workingTo">{{errors.workingTo}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field *ngIf="typeOfForm === 'Presence'" class="full-width">
                <input matInput formControlName="onPauseFrom" placeholder="On Pause From (HH:MM)" [ngxTimepicker]="onPauseFrom" [format]="24" required>
                <ngx-material-timepicker #onPauseFrom></ngx-material-timepicker>
                <mat-error *ngIf="errors.onPauseFrom">{{errors.onPauseFrom}}</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="typeOfForm === 'Presence'" class="full-width">
                <input matInput formControlName="onPauseTo" placeholder="On Pause To (HH:MM)" [ngxTimepicker]="onPauseTo" [format]="24" required>
                <ngx-material-timepicker #onPauseTo></ngx-material-timepicker>
                <mat-error *ngIf="errors.onPauseTo">{{errors.onPauseTo}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field *ngIf="typeOfForm === 'Absence'" class="full-width">
                <mat-label>Type</mat-label>
                    <mat-select matInput formControlName="typeOfAbsence" required>
                        <mat-option *ngFor="let item of absenceTypes" [value]="item.title">{{item.title}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="errors.onPauseTo">{{errors.typeOfAbsence}}</mat-error>
              </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field *ngIf="typeOfForm === 'Business Trip'" class="full-width">
                <mat-label>Place</mat-label>
                <input matInput formControlName="place" required>
                <mat-error *ngIf="errors.place">{{errors.place}}</mat-error>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary"
                (click)="update()"
        >
                 Submit</button>
    </form>
</div>
