<nav class="navbar">

    <div class="navbar-brand">
        <button mat-button routerLink="/">Brand</button>
    </div>

    <div class="navbar-menu">
        <div class="navbar-links">
            <button mat-button class="navbar-links" *ngIf="userService.checkAdmin()" routerLink="/employees">Employees</button>
        <button mat-button class="navbar-links" *ngIf="userService.loggedIn()" routerLink="/">Dashboard</button>
        </div>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="userService.loggedIn()">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div class="show-content">
                <button mat-menu-item *ngIf="userService.loggedIn()" routerLink="/">Dashboard</button>
                <button mat-menu-item *ngIf="userService.checkAdmin()" routerLink="/employees">Employees</button>
            </div>
            
            <button mat-menu-item routerLink="/user/profile/current/details">Profile</button>
            <button mat-menu-item routerLink="/preference/details">My Preferences</button>
            <button mat-menu-item routerLink="/password/change">Change password</button>
            <button mat-menu-item routerLink="/presence/absence/business/search">Search My Contribution</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        <button mat-button *ngIf="!userService.loggedIn()" routerLink="/login">Login</button>
    </div>
    
</nav>
