.register-header {
    font-size: 40px;
    color: #185adb;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register {
    height: 90vh;
}

.register-form {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-label {
    font-size: 20px;
    margin-right: auto;
    margin-top: 8px;
}
