<div class="register">
    <form [formGroup]="registerForm" class="register-form">

        <div *ngIf="param !== 'register'" class="full-width">
            <button mat-stroked-button routerLink="/employees">Back</button>
        </div>

        <h3 class="form-header">{{param === 'register' ? 'Create User' : 'Update User'}}</h3>

        <div class="form-group">
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="errors.name">{{errors.name}}</mat-error>
            </mat-form-field>

            <div class="full-width">
                <mat-form-field class="full-width">
                    <mat-label [ngStyle]="{'color': errors.dateOfBirth ? '#f44336' : null }">Date of Birth</mat-label>
                    <input matInput [value]="dateOfBirth" [matDatepicker]="picker" datePickerFormat="YYYY/MM/DD" formControlname="dateOfBirth" (dateChange)="date($event, 'dateOfBirth')" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint [ngStyle]="{color: '#f44336'}" *ngIf="errors.dateOfBirth">{{errors.dateOfBirth}}</mat-hint>
                </mat-form-field>
            </div>
            
        </div>

        <div class="form-group">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="errors.email">{{errors.email}}</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="param === 'register'" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="errors.password">{{errors.password}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="full-width">
                <mat-label>Admin or just an employee?</mat-label>
                <mat-select formControlName="isAdmin" required>
                    <mat-option [value]="false">Employee</mat-option>
                    <mat-option [value]="true">Admin</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Type of Position</mat-label>
                <input matInput formControlName="typeOfPosition" required>
                <mat-error *ngIf="errors.typeOfPosition">{{errors.typeOfPosition}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="full-width">
                <mat-label [ngStyle]="{'color': errors.hiredDate ? '#f44336' : null }">Hired Date</mat-label>
                <input matInput [value]="hiredDate" [matDatepicker]="picker1" formControlname="hiredDate" (dateChange)="date($event, 'hiredDate')" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker [ngStyle]="{'border-color': errors.hiredDate ? '#f44336' : null }" #picker1></mat-datepicker>
                <mat-hint [ngStyle]="{color: '#f44336'}" *ngIf="errors.hiredDate">{{errors.hiredDate}}</mat-hint>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Contract Duration</mat-label>
                <mat-select formControlName="contractDuration" required>
                    <mat-option value="Indefinitely">Indefinitely</mat-option>
                    <mat-option value="Fixed-term">Fixed-term</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label [ngStyle]="{'color': errors.terminationDate ? '#f44336' : null }">Termination Date</mat-label>
                <input matInput [value]="terminationDate" [matDatepicker]="picker2" formControlname="terminationDate" (dateChange)="date($event, 'terminationDate')">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-hint [ngStyle]="{color: '#f44336'}" *ngIf="errors.terminationDate">{{errors.terminationDate}}</mat-hint>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="full-width">
                <mat-label>Organisation Level</mat-label>
                <mat-select formControlName="orgLevel" required>
                    <mat-option value="Position 1">Position 1</mat-option>
                    <mat-option value="Position 2">Position 2</mat-option>
                    <mat-option value="Position 3">Position 3</mat-option>
                </mat-select>
                <mat-error *ngIf="errors.orgLevel">{{errors.orgLevel}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Resigned">Resigned</mat-option>
                    <mat-option value="Terminated">Terminated</mat-option>
                </mat-select>
                <mat-error *ngIf="errors.status">{{errors.status}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Duration of Previous Service</mat-label>
                <input matInput type="number" formControlName="durationOfPreviousService" required>
                <mat-error *ngIf="errors.durationOfPreviousService">{{errors.durationOfPreviousService}}</mat-error>
            </mat-form-field>
        </div>


        <div class="form-group">
            <mat-form-field class="full-width">
                <mat-label>Link to Personal Folder</mat-label>
                <input matInput formControlName="linkToPersonalFolder">
            </mat-form-field>
        </div>
        

        <button *ngIf="param === 'register'" mat-raised-button color="primary"
                (click)="registerUser()"
                class="btn"
                [disabled]="!registerForm.valid"
        >
                 Register</button>
        <button *ngIf="param !== 'register'" mat-raised-button color="primary"
                 (click)="updateUser()"
                 class="btn"
                 [disabled]="!registerForm.valid"
         >
                  Update User</button>
    </form>
</div>
