<div class="register">
    <form [formGroup]="registerForm" class="register-form">
        <h3 class="register-header">Registration</h3>

        <input 
            [ngClass]="{'is-invalid': errors.email}"
            class="input-email" 
            type="email"  
            placeholder="Email" 
            formControlName="email"
        >

        <div [hidden]="!errors.email" class="invalid-feedback">{{errors.email}}</div>

        <input 
            [ngClass]="{'is-invalid': errors.password}"
            class="input-password" 
            type="password"  
            placeholder="Password" 
            name="password"
            formControlName="password"
        >

        <div [hidden]="!errors.password" class="invalid-feedback">{{errors.password}}</div>

        <label class="admin-label" for="is-admin">Admin or just an employee?</label>
        <select
            class="input-is-admin"
            id="isAdmin"
            name="isAdmin"
            formControlName="isAdmin"
        >
            <option [ngValue]="false">Employee</option>
            <option [ngValue]="true">Admin</option>
        </select>

        <button class="btn btn-landing btn-register"
                (click)="registerUser()"
                [hidden]="!registerForm.valid"
        >
                 Register</button>
    </form>
</div>
