

<table class="profile-table">
    <tr>
        <th><button mat-stroked-button routerLink="/employees">Back</button></th>
        <td><button mat-stroked-button color="primary" [routerLink]="['/user/edit', user._id]">Edit User</button></td>
    </tr>
    <tr>
        <th>Name:</th>
        <td>{{user.name}}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>Date of Birth:</th>
        <td>{{user.dateOfBirth}}</td>
    </tr>
    <tr>
        <th>Admin/Employee?</th>
        <td>{{user.isAdmin ? 'Admin' : 'Employee'}}</td>
    </tr>
    <tr>
        <th>Type of position</th>
        <td>{{user.typeOfPosition}}</td>
    </tr>
    <tr>
        <th>Hired date:</th>
        <td>{{user.hiredDate}}</td>
    </tr>
    <tr>
        <th>Contract duration:</th>
        <td>{{user.contractDuration}}</td>
    </tr>
    <tr>
        <th>Termination Date:</th>
        <td>{{user.terminationDate}}</td>
    </tr>
    <tr>
        <th>Organization level:</th>
        <td>{{user.orgLevel}}</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>{{user.status}}</td>
    </tr>
    <tr>
        <th>Duration of previous service:</th>
        <td>{{user.durationOfPreviousService}}</td>
    </tr>
    <tr>
        <th>Link to peronal folder:</th>
        <td>{{user.linkToPersonalFolder}}</td>
    </tr>
</table>
