
<div *ngIf="!loading; else spinner" class="profile">

    <p class="profile-header">Profile: {{user.name}}</p>

    <div class="buttons-inlines">

        <button *ngIf="idFromParam !== 'current'" class="button-profile" mat-stroked-button routerLink="/employees">Back</button>
        <button *ngIf="currentUser.isAdmin" class="button-profile" mat-stroked-button color="primary" [routerLink]="['/user/action', user._id]">Edit User</button>

    </div>

    <mat-card class="profile-card">
        <mat-list class="preference-list-item">
            <p class="profile-def">Name:</p>
            <p>{{user.name}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list class="preference-list-item">
            <p class="profile-def">Date Of Birth:</p>
            <p>{{user.dateOfBirth}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list class="preference-list-item">
            <p class="profile-def">Email:</p>
            <p>{{user.email}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list class="preference-list-item">
            <p class="profile-def">Admin/Employee:</p>
            <p>{{user.isAdmin ? 'Admin' : 'Employee'}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list class="preference-list-item">
            <p class="profile-def">Type Of Position:</p>
            <p>{{user.typeOfPosition}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list class="preference-list-item">
            <p class="profile-def">Hired Date:</p>
            <p>{{user.hiredDate}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list class="preference-list-item">
            <p class="profile-def">Contract Duration:</p>
            <p>{{user.contractDuration}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list class="preference-list-item">
            <p class="profile-def">Termination Date:</p>
            <p>{{user.terminationDate}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list class="preference-list-item">
            <p class="profile-def">Organization Level:</p>
            <p>{{user.orgLevel}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list class="preference-list-item">
            <p class="profile-def">Status:</p>
            <p>{{user.status}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list class="preference-list-item">
            <p class="profile-def">Duration of Previous Service:</p>
            <p>{{user.durationOfPreviousService}}</p>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list *ngIf="user.linkToPersonalFolder" class="preference-list-item">
            <p class="profile-def">Link to personal folder:</p>
            <p>{{user.linkToPersonalFolder}}</p>
        </mat-list>
    </mat-card>
 
        
</div>

<ng-template #spinner>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </ng-template>

